aiohttp==3.8.3
aiosignal==1.4.0
altair==5.5.0
async-timeout==4.0.3
attrs==25.4.0
beautifulsoup4==4.11.1
blinker==1.9.0
cachetools==6.2.1
certifi==2025.10.5
charset-normalizer==2.1.1
click==8.3.0
colorama==0.4.6
coverage==7.11.0
frozenlist==1.8.0
gitdb==4.0.12
GitPython==3.1.45
idna==3.11
iniconfig==2.3.0
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.3
multidict==6.7.0
narwhals==2.10.0
numpy==2.3.4
packaging==25.0
pandas==2.3.3
pillow==12.0.0
plotly==6.3.1
pluggy==1.6.0
propcache==0.4.1
protobuf==6.33.0
pyarrow==21.0.0
pydeck==0.9.1
pytest==7.2.0
pytest-aiohttp==1.0.4
pytest-asyncio==0.23.8
pytest-cov==4.0.0
pytest-mock==3.6.0
python-dateutil==2.9.0.post0
pytz==2025.2
referencing==0.37.0
requests==2.32.5
rpds-py==0.28.0
six==1.17.0
smmap==5.0.2
soupsieve==2.8
streamlit==1.51.0
tenacity==9.1.2
toml==0.10.2
tornado==6.5.2
typing_extensions==4.15.0
tzdata==2025.2
understat==0.1.12
urllib3==2.5.0
watchdog==6.0.0
yarl==1.22.0
